.navbar {
    height: 5vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: lightgray;
    flex-direction: row;

    &__container {
        height: 100%;
        display: flex;
        padding-left: 10vw;
        align-items: center;
        gap: 30px;
    }

    &__text {
        font-family: "Open Sans Condensed", sans-serif;
        cursor: pointer;
        margin-bottom: 4vh;
        letter-spacing: 3px;
        font-weight: 700;
        font-size: 15px;
    }

    h3 {
        margin: 0;
    }

    img {
        width: 30px;
    }
}
